.piece{
    background-image: url('assets/checkers.png');
    background-repeat: no-repeat;
    background-size: 400% 100%;
}
.black{
    background-position: 66.67% 0px;
}
.blackking{
    background-position: 0px 0px;
}
.white{
    background-position: 100% 0px;
}
.whiteking{
    background-position: 33.33% 0px;
}

.piece:hover{
    background-color: rgba(125, 125, 125, 0.75);
}

.selected{
    background-color: rgba(125, 125, 125, 0.75);
}

h1{
    color: #000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 60%;
    left:20%;
    border-radius: 0px 0px 10px 10px;
    z-index: 999;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    color: #ffffff;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
    color: #ffffff;
    text-decoration: none;
}

li:last-child {
    border-right: none;
}

.curr{
    font-size: 36px;
    color: #000;
}

.square{
    width: 150px;
    height: 150px;
}

.t{
    border-top: 8px solid black;
}

.l{
    border-left: 8px solid black;
}

.b{
    border-bottom: 8px solid black;
}

.r{
    border-right: 8px solid black;
}

body{
    text-align: center;
}

.hidden{
    display: none;
}
.shown{
    display: inherit;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}
